@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  src: local("Space Grotesk Light"), local("SpaceGrotesk-Light"),
    url("/src/fonts/SpaceGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  src: local("Space Grotesk Bold"), local("SpaceGrotesk-Bold"),
    url("/src/fonts/SpaceGrotesk-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  src: local("Space Grotesk Medium"), local("SpaceGrotesk-Medium"),
    url("/src/fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  src: local("Space Grotesk SemiBold"), local("SpaceGrotesk-SemiBold"),
    url("/src/fonts/SpaceGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  src: local("Space Grotesk Regular"), local("SpaceGrotesk-Regular"),
    url("/src/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply font-custom text-neutral-800 dark:bg-[#10172a];
  }
}

@media (min-width: 390px) {
  .current-weather-date-xs {
    @apply text-lg;
  }
  .current-weather-description-xs {
    @apply text-xl;
  }
  .current-weather-condition-xs {
    @apply text-lg;
  }
  .sunrise-sunset-xs {
    @apply text-base;
  }

  .forecast-text-size-xs {
    @apply text-lg;
  }
  .forecast-descr-text-size-xs {
    @apply text-xl;
  }
  .forecast-btn-icon-size-xs {
    @apply w-14;
  }
  .forecast-time-period-text-size-xs {
    @apply text-[17px];
  }
  .forecast-time-period-label-size-xs {
    @apply text-[15px];
  }
  .forecast-btn-date-width-xs {
    @apply min-w-[108px]
  }
  .forecast-temp-width-xs {
    @apply min-w-[126px]
  }
}

